
@font-face{
	font-family: 'Philosopher', sans-serif;
}

 @font-face{

	font-family: 'Manrope';

	src: url('../fonts/manrope/regular.otf');

	src: url('../fonts/manrope/regular.otf?iefix') format('otf'),

	url('../fonts/manrope/regular.ttf') format('truetype'),

	font-weight: normal;

	font-style: normal;

}

 @font-face{

	font-family: 'Manrope';

	src: url('../fonts/manrope/light.otf');

	src: url('../fonts/manrope/light.otf?iefix') format('otf'),

	url('../fonts/manrope/light.woff') format('woff'),

	font-weight: 300;

	font-style: normal;

}

body{
	margin: 0;
	padding: 0;
	letter-spacing: 0.1em;
	color: #fff;
	background: #222129;
	font-family: 'Philosopher', sans-serif;
}

.flex{
	display: flex;
}

.center{
	text-align: center;
}

p{
	padding: 0;
	margin: 0;
	color: #D1D1D1;
	font-family: 'Manrope', sans-serif;
	line-height: 28px;
	font-size: 14px;
	font-weight: normal;

}

a{
	cursor: pointer;
	text-decoration: none;
}

.container{
	margin: 0 2%;
}

/*POPUP*/

.overlay_popup {
	display:none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.popup {
	display: none;
	z-index: 1000;
    position: fixed;
    width: 100%;
}

.container{
	width: 90%;
	margin: auto;
}

.bq-menu{
	width: 100%;
}

.header-popup{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.logo__img{
	max-width: 230px;
}

.close{
	width: 21px;
	cursor: pointer;
	margin-top: 15px;
}

.close:hover{
	color: #e1def5;
}

.close span{
	height: 2.06px;
	display: block;
	margin-top: -2px;
	background: #fff;
	border-radius: 5px;
	transform: matrix(0.7, 0.7, 0.7, -0.7, 0, 0);
}

.close span:last-child{
	transform: matrix(0.7, -0.7, -0.7, -0.7, 0, 0);
}

/*Menu Popup*/

.navbar{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;	
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 136px;
}

.navbar a{
	font-family: Philosopher, sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 45px;
	color: #FFF;
	display: block;
}

.navbar a:hover{
	color: #e1def5;
}

.navbar span{
	display: block;	
	font-family: Manrope;
	line-height: 28px;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #D1D1D1;
}

/*THE END*/



.main{
	background: url(../img/mainScreen/bg.png) no-repeat center top / cover;
	 box-shadow: 0px -38px 90px 15px  #222129 inset;
}

.header{
	padding-top: 50px;
	align-items: center;
	justify-content: space-between;
}

.header__menu{
	width: 35px;
	cursor: pointer;
}

.header__menu span {
    background: #fff;
    display: block;
    height: 2px;
    margin-bottom: 8px;
    width: 100%;
    float: right;
}

.header__menu span:nth-child(2) {
    width: 24px;
}

.header__menu span:nth-child(3) {
    width: 15px;
}

.header__menu:hover span {
    float: left;
}

.main-title{
	margin: 0 2%;
	padding-top: 100px;
}

.title__motto{
	text-transform: uppercase;
	padding-top: 25px;
	font-family: 'Manrope', sans-serif;

}

.main-title__title{
	padding-top: 40px;
	font-size: 54px;
	padding-bottom: 45px;
}

.title__description {
	max-width: 654px;
	margin: auto;
	padding-bottom: 90px;
}

.advantages{
	justify-content: center;
	align-items: center;
}

.advantages__block{
	width: 198px;	
	margin-right: 31px;
}

.advantages-block__desciption{
	padding-top: 12px;
	font-family: 'Manrope', sans-serif;
	font-size: 13px;
}

/*More screen 2*/

.more{
	padding-top: 110px;
}

.name-section{ 
	align-items: center;
	color: #D1D1D1;
	font-family: 'Manrope', sans-serif;
}

.name-section__line{
	margin-left: 18px;
	margin-right: 20px;
	height: 1px;
	width: 65px;
	background: #C4C4C4;
}

.ellipse-small{
	left: 50%;
	margin-left: -214px;
	position: absolute;
	margin-top: 110px;
}

.ellipse-big{
	position: absolute;
	left: 50%;
	margin-left: -327px;
}

.more__title{
	margin-top: 274px;
}
	
.more-title__title{
	font-size: 45px;
	width: 254px;
   	position: absolute;
   	margin-top: -160px;
    left: 50%;
    margin-left: -450px;
}

.more-title__info p{
	max-width: 368px;
	padding-bottom: 41px;
	font-weight: 300;
}

.right{
	margin-left: 146px;
}

.right__white{
	color: #fff;
}

.more-title__info{
	justify-content: center;
}

/*Screen 3 architecture*/

.name-section__architecture{
	margin: 0 2%;
	padding-top: 154px;
	padding-bottom: 107px;
}

.line{
	background: #D1D1D1;
	opacity: 0.1;
	height: 1px;
    width: 80%;
    position: absolute;
    margin-top: 51px;
}

.architecture__back{
	width: 427px;
	height: 427px;
	margin-top: 380px;
	margin-left: 44px;
	background: #FFDFA8;
}

.architecture__img{
	position: absolute;
	right: 56px;
	width: 45%;
}

.architecture__title{
	margin-top: 115px;
	margin-left: 61px;
	position: absolute;
	background: #222129;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.36);
	max-width: 50%;
}

.architecture-title__title{
	padding: 70px 0px 0px 85px;
	font-size: 45px;
	width: 260px;
}

.architecture-title__description{
	padding: 70px 30px 70px 85px;
	max-width: 594px;
}

.architecture-title__description-p{
	margin-top:20px;
}

.line__two{
	margin-top: 118px;
}

/*Gallery Screen 4*/

.name-section__gallery{
	margin: 0 2%;
	margin-top: 400px;
}

.gallery__title{
	justify-content: center;
	margin-top: 120px;
}

.gallery-title__title{
	font-size: 45px;
	width: 320px;
}

.gallery-title__description{
	margin-left: 76px;
	width: 523px;
	margin-bottom: 60px;
}

/*Slider */

.slider-img{
	padding-top: 50px;
}

.img{
	position: absolute;
	display: none;
	margin-left: 20%;
}

.img.house{
	display: block;
}

.img:first-child{
	width: 60%;
}

.img:nth-child(2){
	width: 60%;
}

.img:nth-child(3){
	width: 60%;
}

.img:nth-child(4){
	width: 60%;
}

.img:nth-child(5){
	width: 60%;
}

.img:nth-child(6){
	width: 60%;
}

.img:nth-child(7){
	width: 60%;
}

.n{
	margin: 0 2%;
}

.n a{ 
	color: #D1D1D1;
	cursor: pointer;
	font-size: 30px;
}

.n a:hover{
	color: #777;
}

.gallery__line{
	margin-top: 16px;
	width: 100%;
}

.slider-switches{
	padding-top: 18%;
	justify-content: space-between;
}

.position-slider{
	margin-top: 23%;
	justify-content: center;
}

.position-slider__item{
	list-style: none;
	margin-right: 10px;
}

.position-slider__item a{
	font-family: Manrope;
	color: #D1D1D1;
}

.position-slider__item a:hover{
	color: #777;
}

/*Offers screen 4*/
.name-section__offers{
	margin-top: 200px;	
	margin: 0 2%;
}

.background-line{
	width: 100%;
}